.container { 
    margin-left: 25px;
    margin-top: 25px;
}
.searchButton {
    margin-left: 1% !important;
    margin-top: 0% !important;
}
.addButton {
    margin-left: 0.2% !important;
    margin-top: 0% !important;
}