.container {
    display: flex;
    justify-content: center;
    width: 55%;
    margin-top: 10px;
    margin-left: 5px;
}
/*@media (max-width: 770px) {
    .container {
        width: 100%;
    }
}*/