body {
    background-color: rgb(72, 69, 69);
  }
.container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.rectangle {
display: inline-block;
width: 500px;
height: 500px;
margin-top: 50px;
margin-bottom: 50px;
background-color: white;
border-radius: 40px;
}
.email {
  margin-left: 20% !important;
  margin-right: 20% !important;
  margin-top: 30% !important;
  
}
.pass {
  padding-top: 20px;
  margin-left: 20% !important;
  margin-right: 20% !important;
  width: -100px;
}
.buttonLogin {
  margin-left: 40% !important;
  margin-top: 8% !important;
}
.register {
  margin-top: 5% !important;
  margin-left: 43.5% !important;
}
.buttonRegister {
  margin-left: 38% !important;
  margin-top: 8% !important;
}
.login {
  margin-top: 5% !important;
  margin-left: 44% !important;
}
.link {
  color: black;
  text-decoration: none;
}
.loginBack {
  margin-top: -715px !important;
  margin-left: 12px !important;
  font-size: small;
}
.registerBack {
  margin-top: -851px !important;
  margin-left: 12px !important;
  font-size: small;
}
.backIcon {
  margin-top: 0px;
  margin-bottom: -5px;
}