.container {
    margin: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.card {
    margin: 10px 10px !important;
    transition: 1s !important;
}
/* .total {

} */
@media (max-width: 775px) {
    .card {
        margin: 2% 2% !important;
    }
}
