body {
  background-color: rgb(72, 69, 69);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle {
  display: inline-block;
  width: 1200px;
  height: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}
.pieChart {
  background-color: black;
  background-size: 1px;
  position: relative;
  width: 1200px;
  top: -650px;
}